.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
}

.search-btn {
    padding: 10px 20px;
    background: #ff9900;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.filter-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.filter-box input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-results {
    margin-top: 20px;
    padding: 20px;
}

.search-bar {
    padding: 10px 12px;
    width: 350px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.filter-bar {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.filter-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150px;
}

.filter-btn {
    padding: 8px 14px;
    background: #ff9900;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.filter-btn:hover {
    background: #e68900;
}