@import "./styles/navbar.css";
@import "./styles/home.css";
@import "./styles/ProductCard.css";
@import "./styles/search.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #fafafa;
    color: #111;
}